body {
    background-image: url(../images/gomt-main2-bg-grass.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    color: white;
}

.logo {
    width: 40%;
}

.register{

}

.reg-input {
    background-color: transparent;
    border: white solid 2px;
    border-radius: 100px;
    width: 60%;
    padding: 10px 30px; 
    background-origin: border-box;
    background-clip: padding-box, border-box;
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease; 
}

.reg-input::placeholder {
    color: #cecece; 
    text-shadow: none;
}

.reg-input:focus {
    outline: none; 
    box-shadow: 0 0 10px 3px rgba(74, 239, 198, 0.8), 
                0 0 20px 6px rgba(79, 144, 174, 0.6); /* 發光效果 */
}

.reg-error {
    color: white;
}

.reg-btn-group {
    margin-right: 80%;
}

.reg-btn {
    border-radius: 100px ;
    border: #71c2a6 solid 3px;
    background-color: transparent;
    color: white;
    width: 28%;
    font-weight: 100;
    transition: all 0.3s ease;
    margin: 0 10px;
}

.reg-btn:hover {
    border-radius: 100px ;
    border: #83e2c0 solid 3px;
    background-color: #83e2c0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    color: white;
}



@media (min-width: 768px) {
    .logo{
        margin-right: 18%;
    }
    .register{
        margin-left: 8.3%;
        margin-top: 10%;
    }
    h1{
        margin-right: 40%;
        margin-bottom: 5%;
    }

    .reg-btn{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }
}

@media (max-width: 575.98px) {
    .logo{
        width: 55%;
        margin-top: 30%;
        margin-left: 10%;
    }
    .reg{
        margin-top: 10%;
    }
    .reg-input{
        margin-left: 10%;
        width: 85%;
        height: 85%;
    }
    .reg-btn-group{
        margin-left: 55%;
    }
    .reg-btn{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }
    h1{
        margin-left: 5%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }
}

