body {
    background-image: url(../images/gomt-main0-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    color: white;
}

.page-title {
    font-size: 2.5rem;
    color: white;
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.route-info {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin: 10px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 保持文字置左 */
    margin-left: 37%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

button.delete-button,
button.download-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.delete-button:hover,
button.download-button:hover {
    background-color: #ffffff;
    color: #333;
}

@media (max-width: 575.98px) {
    .page-title{
        margin-top: 15%;
        margin-left: 6%;
        font-size: 200%;
    }
    .route-info{
        margin-left: 5%;
        width: 90%;
    }
}