.nav-panel {
    display: none;
    height: 100vh;
    background-color: #00FF00;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 1000;
    padding-top: 56px;
}

.show-nav {
    display: block;
}

.container {
    margin-top: 100px;
}

.api-content {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

button {
    width: 250px;
    font-size: 1.2rem;
}
